body {
  font-weight: 300;
  background: url(whitegrid.jpg) repeat;
}

#wrapper {
  width: 660px;
  margin: 220px auto;
  background-color: #FFFFFF 0.5;
}

h2 {
	color: #5bc0de; 
	font-size:28px;
	font-family:"Calibri";
}

h3 {
	color: #555; 
	font-size:20px;
	font-family:"Calibri";
}

h4 {
	color: #555; 
	font-size:16px;
	font-family:"Calibri";
}

h5 {
	color: #FFFFFF; 
	font-size:16px;
	font-family:"Calibri";
}




h1 {
   font-size: 36px;	
   font-style: bold;
   color: #555;
   font-family:"Calibri";
}

table {
	line-height: 22px;
}

div#wrapper{
	background-color: white;
	width:960px;
	margin:20px auto;
	padding:20px;
}

a:hover {
	color:#5bc0de;
}

.jumbotron h1{
	color: #5bc0de;
}

.jumbotron h2{
	color: #eee;
}

.jumbotron{
	background-color: #5E4343;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C7B6B6;
}

.table-border tbody tr:border td, .table-border tbody tr:border th {
  border-color: black;
}

.nav-pills > li.active > a {
    background-color:#5E4343;
}

.nav-pills > li > a:hover {
    background-color:#5E4343;
}