body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(whitegrid.jpg) repeat;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}

h2 {
	color: #F781BE; 
	font-size:28px;
	font-family:"Calibri"
}

h3 {
	color: #eee; 
	font-size:20px;
	font-family:"Calibri"
}

h4 {
	color: #BB1717; 
	font-size:20px;
	font-family:"Calibri"
}

h5 {
	color: #eee; 
	font-size:16px;
	font-family:"Calibri"
}




h1 {
   font-size: 36px;	
   font-style: bold;
   color: #eee;
   font-family:"Calibri";
}

table {
	line-height: 28px;
}

div#wrapper{
	background-color: white;
	width:960px;
	margin:20px auto;
	padding:20px;
}

a:hover {
	color:#5bc0de;
}

.jumbotron h1{
	color: #555;
}

.jumbotron h2{
	color: #eee;
}

.jumbotron{
	background-color: #5bc0de;
}

.container{
	background-image:url(Chocolate_Cake.jpg);
}

.nav-pills > li.active > a {
    background-color:#5cb85c;
}

.nav-pills > li > a:hover {
    background-color:#5cb85c;
}